.device{
  height: 795px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 400px;
}

.iframe {
  background: #fff;
  border: none;
  height: 580px;
  left: 34px;
  position: absolute;
  top: 85px;
  width: 332px;
}

.logo {
   width: 153px;
   height: 153px;
   background-image: url(../img/logo.png);
}