.logo {
   width: 153px;
   height: 153px;
   background-image: url(../img/logo.png);
}


.device{

  margin: 0 auto;
  position: relative;
  text-align: center;

}

.iframe {
  position: absolute;
  background: #fff;
  border: none;

}


.device-iphone{
  width: 400px;
  height: 795px;
}

.iframe-iphone {
  top: 85px;
  left: 34px;
  width: 332px;
  height: 580px;
}

.device-ipad{
  width: 1333px;
  height: 1108px;
}

.iframe-ipad {
  top: 121px;
  left: 149px;
  width: 1030px;
  height: 774px;
}


